Source: dtkdevice
Section: libdevel
Priority: optional
Maintainer: Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 doxygen,
 qhelpgenerator-qt5 | qttools5-dev-tools,
 qtbase5-dev,
 libdtkcore-dev,
 pkg-config
Standards-Version: 4.5.0

Package: libdtkdevice
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool Kit template library
 libdtkdevice is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtkdevice-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool Kit template devel library
 libdtkdevice-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.
